
.login-panel {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 100;
}

.login-panel--scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
}

.login-panel__blackout {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .7;
    transition: .3s ease-out opacity;
}

.login-panel__blackout--bg-bus {
    background-color: #000f27;
}

.login-panel__blackout--bg-transparent {
    opacity: 0;
}

.login-panel .hamb {
    display: none;
}

.login-panel__container {
    position: absolute;
    top: 0;
    right: 0;
    width: 30rem;
    min-width: 30rem;
    min-height: 100%;
}

.login-panel__wrap {
    position: relative;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 100%;
    padding-bottom: 5rem;
    background-color: #e0e2e6;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: -webkit-transform ease-out .3s;
    transition: transform ease-out .3s;
    transition: transform ease-out .3s,-webkit-transform ease-out .3s;
}

.login-panel__wrap--bg-bus {
    background-color: #364c6d;
}

.login-panel__wrap--shown {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.login-panel__edge {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 100%;
    background: #4969ad;
    background: linear-gradient(to bottom,#00b9e4,#4969ad 47%,#9b659b);
}

.login-panel__info {
    max-width: 37rem;
    padding: 5rem;
}

.login-panel__info .form.type-8 .form__btn {
    padding-left: 2rem;
    padding-right: 2rem;
}

.login-panel__close {
    position: absolute;
    top: 6rem;
    right: 2rem;
    padding: 0.2rem;
    color: #e0e2e6;
}

.login-panel__close img {
    width: 48px;
    height: 48px;
}

.login-panel__close:hover {
    color: #e0e2e6;
}

.login-panel__close:after {
    content: ' ';
    display: inline-block;
    font-size: 10px;
    /*background-image: url(http://drupal8.loc/modules/custom/overlay_panel/images/close.png);*/
    /*background-repeat: no-repeat;*/
    width: 2.4em;
    height: 2.4em;
}

.ie .login-panel__close:after,
.no-svg .login-panel__close:after {
    background-image: url(../../../stable/images/core/icons/e32700/error.svg);
}

.login-panel__simple-link-wrap {
    width: 100%;
    margin-bottom: 3rem;
}

.login-panel__simple-link-wrap:after,
.login-panel__simple-link-wrap:before {
    content: " ";
    display: table;
}

.login-panel__simple-link-wrap:after {
    clear: both;
}

.login-panel__simple-link-wrap .simple-link {
    float: right;
}

.login-panel__simple-link-wrap .simple-link--2 {
    float: left;
}

.login-panel .simple-link--2__link,
.login-panel .simple-link__link {
    color: #fff;
}

.login-panel .simple-link--2__link:hover,
.login-panel .simple-link__link:hover {
    color: #e94281;
}

.login-panel__agreement {
    margin-bottom: 4rem;
    padding-top: .4rem;
    font-size: 1.1rem;
    color: #9ba6af;
}


/*.login-head {*/
    /*float: right;*/
    /*padding-top: 3rem;*/
/*}*/

.g-header_mob .login-head {
    padding-top: 1.9rem;
    float: none;
    position: absolute;
    top: 0;
    right: 1.5rem;
}

/*.login-head__btn {*/
    /*display: block;*/
/*}*/

/*.login-head__btn:after {*/
    /*content: ' ';*/
    /*display: inline-block;*/
    /*font-size: 20px;*/
    /*background-image: url(/modules/custom/overlay_panel/images/left.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 10.1em 557.3em;*/
    /*background-position: -.2em -204.39999999999998em;*/
    /*width: 2.4em;*/
    /*height: 2.4em;*/
/*}*/

.overlay-panel-call-wrap {
    position:absolute;
    background-color: #e0e2e6;
    top: 300px;
    right: -5px;
    border-radius: 10px;
}
.overlay-panel-call:hover {
    color: #e0e2e6;
    /*text-decoration: none;*/
    border-bottom: none;
}
.overlay-panel-call {
    display: block;
    color: #e0e2e6;
    border-bottom: none;
    /*text-decoration: none;*/
}
.overlay-panel-call:after {
    display: inline-block;
    content: ' ';
    background-image: url(/modules/custom/overlay_panel/images/left.png);
    width: 50px;
    height: 50px;
}

